<%= form_with(model: interpage1, local: true) do |form| %>
  <% if interpage1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interpage1.errors.count, "error") %> prohibited this interpage1 from being saved:</h2>

      <ul>
      <% interpage1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
